# local env
.venv

# profiling
*.out
*.log
*.ncu-rep

# gpgpu-sim config
*.icnt
*.config

# gpgpu-sim artifacts
checkpoint_files/
_app_cuda_version_*
_cuobjdump_list_ptx_*
*.1.sm_86.ptx
*.1.sm_86.ptxas